img{
    max-width: 100%;
    height: auto;
}

*,*::before,*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

.light{
    font-weight: 300;
}

.medium{
    font-weight: 500;
}

.bg-darkBlue{
    background-color: #415165;
}

.text-white{
    color: #fff !important;
}

/* 一單位為8px */
.mt-1{
    margin-top: 8px;
}

.mt-2{
    margin-top: 16px;
}

.mt-3{
    margin-top: 24px;
}

.mt-4{
    margin-top: 32px;
}

.mt-5{
    margin-top: 40px;
}

.mt-6{
    margin-top: 48px;
}

.mb-1{
    margin-bottom: 8px;
}

.mb-2{
    margin-bottom: 16px;
}

.mb-3{
    margin-bottom: 24px;
}

.mb-4{
    margin-bottom: 32px;
}

.mb-5{
    margin-bottom: 40px;
}

.mb-6{
    margin-bottom: 48px;
}

.mr-3{
    margin-right: 24px;
}

.pt-3{
    padding-top: 24px;
}

.pb-1{
    padding-bottom: 8px;
}

.pb-2{
    padding-bottom: 16px;
}

.pl-3{
  padding-left: 24px;  
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

p, ul li{
    font-size: 24px;
    line-height: 36px;
}

.header{
    border-bottom: 2px solid #000;
}

h1{
    font-size: 80px;
    line-height: 94px;
}

.title{
    font-size: 32px;
    line-height: 43px;
    border-bottom: 1px solid #000;
}

.subtitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #A00404;
    font-size: 24px;
    line-height: 43px;
}

.common-div{
    margin-bottom: 72px;
}

.skill-div{
    padding-bottom: 36px;
}

.skill-div .container{
    max-width: 996px;
    margin: 0 auto;
}

.skill-div h2{
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #fff;
}

.skill-div.subtitle{
    color: #fff;
}

.skill-div ul{
    width: 240px;
    border-left: 1px solid #96A9C4;
    padding-left: 24px;
    margin: 0 auto;
    margin-top: 40px;
}

.skill-div ul li{
    color: #fff;
}

.skill-div ul li:not(:last-child){
    margin-bottom: 20px;
}

.work-div ul{
    width: 690px;
    padding-left: 24px;
    border-left: 1px solid #96A9C4;
    margin-left: 24px;
}

.detail{
    font-size: 20px;
    line-height: 30px;
}

.contact-div h2, .contact-div p{
    color: #fff;
    text-align: center;
}

.contact-div .title{
    border-bottom: 1px solid #fff;
}

.contact-div .container{
    padding-bottom: 32px;
}

.social-media-icon{
    text-align: center;
}